<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>terminus</string>
	<key>CFBundleExecutable</key>
	<string>Terminus</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>sh.rcn.terminus</string>
	<key>CFBundleName</key>
	<string>terminus</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.8</string>
	<key>CFBundleVersion</key>
	<string>24</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSLocationUsageDescription</key>
	<string>terminus uses your location to start from the bus stop you're nearest.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>terminus uses your location to start from the bus stop you're nearest.</string>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://terminus.rcn.sh/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>hVfiuBLXkgVXlxhaM13MRWLb3C0SrY2PDsg0zAkMx5I=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>21600</integer>
</dict>
</plist>
